# Ignore virtual enviroments
url-shortener/shortener
web-downloader/ytdown

url-shortener/templates/index.bak
test.py
.env

dyndns/user.key
dyndns/update_url

# Ignore all pycache directories
__pycache__/

# Ignore .pyc files globally
*.pyc