/* CSS Rules */

/** import fonts **/

@font-face {
    font-family: 'Larken DEMO Bold';
    src: url(../assets/fonts/ibm-plex/IBMPlexMono-Medium.ttf);
}

@font-face {
    font-family: 'Poppins Thin';
    src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'Poppins Light';
    src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins Regular';
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Semibold';
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf); 
}

/**** Theming ****/

/* We can defined variables that can be modified easily */

:root {

    /* Palette variables */

    --main-color: #0C0C0C;
    --primary-color: #000000;
    --secondary-color: #00272b;
    --alternative-color: #00503f;
    --text-color: #f0ffff;
    --main-gradient: linear-gradient(24deg, #00272b, #00503f);

    /* Fonts variables */

    --font-main: 'Larken DEMO bold';  
    --font-submain: 'Poppins Thin';
    --font-header: 'Poppins Semibold';
    --font-text: 'Poppins Regular';
    --font-figure: 'Poppins Light'; 
}


/* defaults rules to all elements */
* {
    margin: 0; padding: 0;
    box-sizing: border-box; /** the dimensions of our boxes are respected. **/
    text-decoration: none;
}

/**** media querys responsive screen ****/

/*  -- desktop media query -- */
/* When the width of our screen is a minimum of 900 px, this style will be displayed. */

@media only screen and (min-width: 900px) {
    
    /* Body settings */

    body {
        background-color: var(--main-color);
    }


    /* Config referent to the layout design using grid */

    .grid-container{
        display: grid;
        gap: 3em;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        'header header header header'
        'header header header header'
        'main main main main'
        'main main main main'
        'main main main main'
        'main main main main'
        'footer footer footer footer'; /* Columns and rows for the grid */
    }

    /**** All the rules referent to the header and nav bar ****/

   header{
        grid-area: header;
    }


    /* Styles for the navigation bar */

    .nav-container {
        /*background-color: var(--primary-color);*/
        display: flex;
        justify-content: space-between;
        margin: auto 0;
        background-color: var(--main-color);

        position: sticky;
        top: 0;
    }

    .logo-container {
        width: auto;
        height: auto;
        padding: 20px 20px;
        margin-left: 15px;
    }


    .header-img img {
        width: 100%;
        height: auto; /* This config make the header img responsive */
    }


    .nav-menu{
        display: flex;
        list-style: none;
        justify-content: space-between;
        margin-top: 6%;
        margin-right: 40px;
        width: fit-content;
    }

    .nav-menu a {
        text-decoration: none;

        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s; /* We will ensure that the transition of the animation resulting from the gradient has a smooth curve. */
    }

    .nav-menu a:hover, a:focus {
        background-size: 100% 2px;
    }


    .sub-nav-items {
        display: none; /*** it will only appear when user hovers the mouse over #sub-nav-button ***/
        width: 10rem;
        list-style: none;
        background-color: var(--primary-color);
        border-radius: 5px;
        box-shadow: 0px 1px 2px var(--text-color);
    }


    .nav-item, .x-nav-item, .sub-nav-item {
        padding: 0.9em 1em;
        width: max-content;
    }

    .nav-bar-link {
        font-family: var(--font-header);
        color: var(--text-color);
        font-size: 0.9em;
    }


    .subnav-bar-link {
        font-family: var(--font-text);
        color: var(--text-color);
        font-size: 0.7em;
    }


    .sub-nav-button:hover > .sub-nav-items { /*** displays sub-nav menu whenever the mouse hovers over #sub-nav-button ***/
        display: block;
        position: absolute;
    }

    
    .menu-toggle, .menu-icon {
        display: none;
    }
   

    .lang-selector {
        border-radius: 5px;
        opacity: 0.3;
    }


    .lang-selector:hover {
        opacity: 1;
        transition: background 0.6s ease, color 0.6s ease;
    }


    .nav-link {
        font-family: var(--font-figure);
        color: var(--text-color);
    }



    /* Config referent to main and sections */

    main {
        grid-area: main;
    }

    section {
        margin: 5% 15%;
    }

    /* Main index styles */
    /* This styles only applies to the first index section */

    .hall-container {
        display: flex;
        
    }

    .index-title {
        background-color: var(--primary-color);
        height: 60%;
        width: 50em;
        padding: 60px 60px;
        border-radius: 10px;

        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;

        margin-right: 2%;
    }


    .main-image img {
        width: 100%;
        height: auto;
    }


    /* Main style container. Here we have the main one column distribution */

    .container-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-bottom: 2%;  
    } 


    .container-section h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .container-section h2 {
        height: auto;
        width: auto;
        padding: 60px 60px;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
    }



    .stretch-section {
        gap: 5%;
    }


    .stretch-container {
        margin-bottom: 2%;
    }


    /* Flexbox */

   .flex-container {
        display:flex;
        justify-content: space-between; /* Elements will display in flex mode */
    }


    .flex-container h2 {
        margin: 0 15%;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--primary-color);
        height: 20%;
        width: 20%;
        padding: 2% 2%;
        border-radius: 10px;
    }




    /* Styles related to text boxes */

    .text-container {
        background-color: var(--primary-color);
        height: 60%;
        width: 50em;
        padding: 60px 60px;
        border-radius: 10px;
    }

     .text-container h3 {
        font-family: var(--font-submain);
        font-size: .8em;
        padding: 10px 0px;

        display: flex;
        align-items: center;
        justify-content: center;
    }


    .text-container p {
        font-size: .8em;
    }
  

    /* This section is necessary to display text boxes and images alternatively to the right and left */

    .sp-section {
        display: flex;
        justify-content: space-between;
    }


    .img-container {
        margin: 3%;
    }


    .img-container img {
        width: 100%;
        height: auto;

        border-radius: 12px;
    }

    /* images in the left */

    .imge-container {
        margin-right: 5%;
        margin-bottom: 2%;

        display: flex;
        align-items: center;
        justify-content: center;
    }


    .text-container {
        margin: auto 5%;
    }


   

    /* Styles related to the buttons */


    .button {
        background: var(--main-gradient);
        width: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;

        transition: background 0.6s ease, color 0.6s ease; /* smooth transition for the hover pseudoclass */
        cursor: pointer;
        border-radius: 12px;
        padding: 2%;
        border: none;
    }


    .button:hover {
        background: var(--text-color);
    }


    #index-button2 {
        font-family: var(--font-header);
        color: var(--primary-color);
    }



   .button:hover #index-button2 {
        color: var(--main-color);
    }


    /* Index automatic scroll button */


    .scroll-button {
        display: flex;
        align-items: center;
        justify-content: center;

        
    }

    
    .scroll {
        background-color: var(--secondary-color);
        border-radius: 40px;
        border: none;

        transition: background 0.6s ease, color 0.6s ease; /* smooth transition for the hover pseudoclass */;
        cursor: pointer;
    }


    .scroll:hover {
        background: var(--alternative-color);
    }

    .icon-scroll {
        padding: 30%;
    }


    /* Some styles for the contact on index and contact site */


    .contacto-index {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: max-content;

        margin-right: 1em;
    }

    .contacto-index img {
        width: 100%;
        height: auto;
    }

    .title-contacto {
        display: flex;
        justify-content: space-between;
    }

    .contact-title {
        margin: 2em 9em;
    }

    .sub-info {
        font-family: var(--font-text);
    }


    .sub-info a:link {
        text-decoration: none;
        color: inherit;
    }


    .sub-info a:hover {
        text-decoration: underline;
    }


    .sub-info a:visited {
        color: darkblue;
    }


    /* index carousel styles */

    .carousel {
        display: flex;
        width: 100%;
        height: 33%;
    }


    .carousel img {
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }

    .carousel img:hover {
        cursor: crosshair;
        width: 30%;
        opacity: 1;
        filter: contrast(120%);
    }

    .scroll-subtitule {
        display: none;  /* It is necessary for the subtitle not to be displayed in desktop mode. */
    } 


    /* Config related to footer */

    footer {
        grid-area: footer;

        background-color: var(--primary-color);
    }

    

    .logo-container-footer {
        display: block;
        justify-content: space-between;

        padding: 3% 3%; 
    }

    .footer-container iframe {
        width: 50%;
        aspect-ratio: 16 / 9; 
        border: 1px solid #ddd; 
    }


    .footer-text {
        text-align: center;
    }

    .footer-text span {
        font-family: var(--font-text);
    }


    .footer-text h3 {
        margin-top: 1rem; 
    }
    
    .mail-footer,
    .footer-title {
        display: block;
        margin-top: 0.5rem; 
    }
    
    #license-img {
        margin-top: 1rem; 
    }

}


/*  -- mobile configuration -- */
/* When the width of our screen is a maximum of 900 px, this style will be displayed. */


@media only screen and (max-width:900px) {
    

    /* All the rules referent to the header and nav bar */


    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 6% 6%;
    }

    .nav-menu {
        list-style: none;
        

        display: none;
        flex-direction: column;
        align-items: flex-start;
        margin: 15% 15%; 
        padding: 5%;
    }

    .nav-item, .x-nav-item, .sub-nav-item {
        list-style: none;
        text-decoration: none;
    }

    .nav-bar-link {
        font-family: var(--font-header);
        color: var(--text-color);
        font-size: 0.8em;
    }

    .subnav-bar-link {
        font-family: var(--font-text);
        font-size: 0.6em;
        color: var(--text-color);
    }

    .menu-icon {
        display: block;
    }
    

    .menu-toggle {
        display: none;
    }
    
    .menu-toggle:checked + .menu-icon + .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .sub-nav-button:hover > .sub-nav-item { /*** displays sub-nav menu whenever the mouse hovers over #sub-nav-button ***/
        display: block;
        position: absolute;
    }


    .header-img img {
        width: 100%;
        height: auto;
    }

    /* Config referent to main and sections */


    main img {
        width: 100%;
        height: auto;

        border-radius: 10px;
    }

    section {
        margin: 2% 2%;
    }


    .hall-container {
        display: flex;
        flex-direction: column;   
    }

    .scroll-button {
        display: none;
    }

    .container-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-bottom: 2%;  
    } 


    .container-section h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .container-section h2 {
        background-color: var(--primary-color);
        height: auto;
        width: auto;
        padding: 20px 20px;
        border-radius: 10px;

        font-size: 0.9em;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
    }


    .text-container {
        background-color: var(--primary-color);
        width: 100%;
        height: auto;
        padding: 20px 20px;

        border-radius: 12px;
    }

    .text-container p {
        font-size: .7em;
    }

    .text-container h3 {
        font-family: var(--font-submain);
        font-size: .8em;
        padding: 10px 0px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* italics subtitle styles */

    i {
        font-size: .6em;
    }




    /* Footer config */

    footer {
        background-color: var(--primary-color);
    }

    .footer-container iframe {
        width: 100%;
        aspect-ratio: 4 / 3; /* Ajusta la relación de aspecto para dispositivos más pequeños */
    }

    .footer-text {
        text-align: center;
    }

    .footer-text span {
        font-family: var(--font-text);
    }


    .footer-text h3 {
        margin-top: 1rem; /* Puedes ajustar el margen superior del encabezado h3 según tus necesidades */
    }
    
    .mail-footer,
    .footer-title {
        display: block;
        margin-top: 0.5rem; /* Puedes ajustar el margen superior del span según tus necesidades */
    }
    
    #license-img {
        margin-top: 1rem; /* Puedes ajustar el margen superior de la imagen según tus necesidades */
    }
}




/*  ###### General Configurations ###### */

body {
    background-color: var(--main-color);
}


/** fonts properties and rules **/
h1 {
    font-family: var(--font-main);
    color: var(--text-color);
    font-size: 7rem;
}

h2 {
    font-family: var(--font-submain);
    color: var(--text-color);
}

h3 {
    font-family: var(--font-header);
    color: var(--text-color); 
}

p {
    font-family: var(--font-text);
    color: var(--text-color);
}